.accordion {
  @apply py-5 text-grey text-left;
  width: 100%;
  outline: none;
  transition: 0.4s;

  &.active,
  &:hover {
    @apply text-red;
  }

  .content {
    position: relative;

    &:after {
      content: '+';
      font-weight: 300;
      font-size: 1.5rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.active .content:after {
    content: '–';
    right: 0.1rem;
  }
}

.panel {
  @apply border-b-2 border-grey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;

  .container {
    @apply pb-5;
  }
}
