@font-face {
  font-family: 'Ellipse';
  src: url('../../fonts/EllipseITCTT-Bold.woff2') format('woff2'),
    url('../../fonts/EllipseITCTT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Ellipse';
}
