<section>
  <div class="title-container py-6">
    <h2 class="text-3xl">
      Présentation
    </h2>
  </div>
  <div class="bg-red text-white">
    <div class="container py-10">
      <p>
        Diplômée de l'Ecole Cantonale de Physiothérapie de Lausanne, je n'ai
        cessé, au cours de plus de 25 ans de pratique, de me former pour tenter
        de mieux comprendre le fonctionnement du corps.
      </p>
      <p>
        Après divers cours analytiques concernant la physiothérapie, je me
        tourne vers des formations qui tiennent compte du corps dans son
        ensemble. Je découvre le Shiatsu, massage d'origine japonaise, ancré
        dans la tradition de la médecine chinoise. Un univers fascinant s’ouvre
        alors. Au-delà d'une autre manière d'envisager la santé, le Shiatsu m'a
        permis de développer une attention toute particulière à la qualité du
        toucher ainsi qu'aux réponses du corps. Depuis lors, je travaille à la
        fois comme physiothérapeute et comme praticienne de Shiatsu.
      </p>
      <p>
        Récemment, j’ai terminé ma formation de massage balinais, que je
        pratique depuis avec un immense plaisir.
      </p>
      <p>
        J'ai à coeur d'accompagner mes patient-e-s avec douceur et
        bienveillance, afin de répondre au mieux à leurs demandes.
      </p>
    </div>
  </div>
</section>
