<header class="mt-5 mb-20">
  <h1 class="text-5xl mb-0">
    Shiatsu
    <br />
    Physiothérapie
    <br />
    Massage
  </h1>
  <p class="mt-5 text-2xl text-center font-light">
    Sarah Reinhard
  </p>
</header>

<div class="container mb-10">
  <img class="hidden sm:block" src="img/sr-bulle-compo.webp" alt="" />
  <img
    class="block sm:hidden mb-10 w-9/12 ml-auto"
    src="img/sr-bulle-1.webp"
    alt=""
  />
  <img
    class="block sm:hidden w-8/12 mr-auto"
    src="img/sr-bulle-2.webp"
    alt=""
  />
  <img
    class="block sm:hidden mb-10 w-8/12 ml-auto"
    src="img/sr-bulle-3.webp"
    alt=""
  />
</div>
