<h1 class="my-5 text-5xl text-center">
  Shiatsu
  <br />
  Physiothérapie
  <br />
  Massage
</h1>
<h2 class="my-10 text-2xl text-center">
  Sarah Reinhard
</h2>

<div class="container mb-10">
  <img class="hidden sm:block" src="img/sr-bulle-compo.webp" alt="" />
  <img
    class="block sm:hidden mb-10 w-9/12 ml-auto"
    src="img/sr-bulle-1.webp"
    alt=""
  />
  <img
    class="block sm:hidden w-8/12 mr-auto"
    src="img/sr-bulle-2.webp"
    alt=""
  />
  <img
    class="block sm:hidden mb-10 w-8/12 ml-auto"
    src="img/sr-bulle-3.webp"
    alt=""
  />
</div>
