<section class="mt-10">
  <div class="title-container py-6">
    <h2 class="text-3xl">
      Physiothérapie
    </h2>
  </div>
  <div class="container">
    <p>
      J’exerce mon activité de physiothérapeute au sein de la sympathique équipe
      du Crêt à Lausanne.
    </p>
    <p>
      Je m’occupe principalement de problèmes musculo-squelettiques, comprenant
      entre autres : douleurs articulaires dégénératives (par exemple arthrose)
      ou inflammatoires, tendinites, douleurs de la colonne vertébrale, entorses
      etc. Je prends également en charge des patients pour de la rééducation
      post-opératoire, par exemple en cas de prothèse (hanche ou genou) ou de
      chirurgie après fracture.
    </p>
    <p>
      Je pratique aussi le drainage lymphatique manuel médical (sans bandage).
    </p>
    <p>
      Pour les patient-e-s dans l’incapacité de venir au cabinet, je me déplace
      à domicile.
    </p>
    <p>
      Pour plus d’informations, n'hésitez pas à
      <a class="text-red underline" href="mailto:info@sarah-reinhard.ch">
        me contacter</a>
      ou à visiter:
      <a
        class="text-red underline"
        href="https://www.physiotherapiepourtous.ch/"
        target="_blank"
      >
        https://www.physiotherapiepourtous.ch/
      </a>
    </p>
  </div>
</section>
