<section class="mt-10">
  <div class="title-container py-6">
    <h2 class="text-3xl">
      Services
    </h2>
  </div>
  <button class="accordion">
    <div class="container">
      <div class="content">Shiatsu</div>
    </div>
  </button>
  <div class="panel">
    <div class="container">
      <p>
        Le Shiatsu est un massage japonais ayant ses racines dans la médecine
        traditionnelle chinoise. Il consiste à exercer des pressions avec les
        pouces ou les mains sur des zones spécifiques du corps (méridiens),
        ainsi qu’à mobiliser les articulations en douceur. Il se pratique à
        travers les vêtements alors que vous êtes confortablement installé-e au
        sol sur un futon, ou sur une table si nécessaire.
      </p>

      <p>
        Le Shiatsu stimule une circulation harmonieuse du Ki (énergie vitale en
        japonais), favorisant le maintien du corps en bonne santé. Il procure
        une sensation de bien être profond, tant physique que psychique,
        permettant de diminuer les tensions et de renforcer les défenses
        naturelles.
      </p>

      <p>
        Les indications pour du Shiatsu sont vastes et concernent entre autre
        des symptômes tels que : anxiété, problèmes digestifs, fatigue
        chronique, nervosité, troubles du sommeil, maux de tête, problèmes
        menstruels, ou douleurs articulaires.
      </p>

      <p>
        Le Shiatsu est une thérapie reconnue par les assurances complémentaires.
        Je suis agrée ASCA.
      </p>

      <p class="text-red">Tarifs : 100.- la séance d’une heure.</p>
    </div>
  </div>
  <button class="accordion">
    <div class="container">
      <div class="content">Massage Balinais</div>
    </div>
  </button>
  <div class="panel">
    <div class="container">
      <p>
        Concernant son origine, beaucoup s’accordent à dire que cette pratique
        est issue d’un mélange entre la médecine ayurvédique et la médecine
        traditionnelle chinoise.
      </p>

      <p>
        Il s’agit d’un massage à l’huile de tout le corps, ayant surtout pour
        but de détendre et d’apporter une sensation de bien-être. Il est à la
        fois doux et stimulant, relaxant et énergisant.
      </p>

      <p>
        Le massage débute sur la partie postérieure du corps, sur les membres
        inférieurs, et se termine par un travail du visage et du crâne. Il se
        compose de différentes phases :
      </p>

      <ul class="list-disc pl-4 mb-3">
        <li class="mb-2 pl-2">
          Prise de contact, par pressions des paumes des mains, à travers une
          couverture.
        </li>
        <li class="mb-2 pl-2">
          Phase principale, pendant laquelle tout le corps est travaillé avec
          différentes manœuvres. On aura à la fois un travail global avec de
          longs lissages, alternant avec un travail plus localisé comprenant des
          gestes appuyés et précis sur certaines zones, des pétrissages ainsi
          que des percussions et des mobilisations.
        </li>
        <li class="mb-2 pl-2">
          Phase finale, durant laquelle un contact léger et équilibrant est
          maintenu, favorisant l’intégration des nouvelles sensations
          corporelles.
        </li>
      </ul>

      <p>
        Tout l’art d’un bon massage consiste à percevoir, à travers le toucher,
        l’ouverture et la détente du corps ; à varier rythme ou intensité de la
        pression ; à intensifier certaines manœuvres afin de le personnaliser.
        D’une fois à l’autre, le massage ne sera jamais complètement le même.
      </p>

      <p class="text-red">
        Tarif : 100.- la séance d’une heure 20 environ.
      </p>
    </div>
  </div>
  <button class="accordion">
    <div class="container">
      <div class="content">Massage des pieds</div>
    </div>
  </button>
  <div class="panel">
    <div class="container">
      <p>
        Le massage des pieds que je propose agit avant tout sur le bien-être
        général.
      </p>
      <p>
        Chaque partie du pied est travaillée : le dos, la plante, les arches
        interne et externe, les orteils et les chevilles. Sur demande, après la
        partie manuelle, je peux effectuer un travail (doux) au stylet, plus
        spécifique, sur des points de réflexologie plantaire thaï.
      </p>
      <p class="text-red">Tarifs : 80.- la séance d’une heure.</p>
    </div>
  </div>
</section>
